.fade-enter {
  opacity: 0.01;
  transform: translateY(-20px);
}

.fade-enter.fade-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition-property: opacity, transform;
  transition-duration: 200ms;
}

.fade-leave {
  opacity: 1;
  transform: translateY(0);
}

.fade-leave.fade-leave-active {
  opacity: 0.01;
  transform: translateY(-20px);
  transition-property: opacity, transform;
  transition-duration: 200ms;
}
