.main.container {
  margin-top: 6em;
}

.ui.menu .header.item {
  border-left: none !important;
}

.ui.form .field > label {
  text-transform: capitalize;
}

.message.notification {
  position: absolute;
  margin: auto;
  z-index: 100;
  max-width: 500px;
  top: 80px;
  left: 10px;
  right: 10px;
}
